.grocery .card{
    border-radius: 6px !important;
    border: 1px solid rgb(243, 243, 243) !important;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out 0s !important;
    cursor: pointer;
}

.grocery{
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.single-product-btn.btn{
    height: 36px;
    border-radius: 6px;
    transition: all 0.35s ease-in-out 0s;
    cursor: pointer;
    width: 100%;
    display: flex;
    color: black;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
    padding: 0px;
    border: none;
    overflow: hidden;
}

.single-product-btn.btn:hover{
    background-color: rgb(1, 147, 118);
    border-color: rgb(1, 147, 118);
    color: rgb(255, 255, 255);
}

.single-product-btn.btn:active{
    background-color: rgb(243, 243, 243) !important;
    border-color: rgb(243, 243, 243) !important;
    color: black !important;
}

.single-product-btn.btn:focus{
    box-shadow: none !important;
}

.single-product-btn.btn:hover .btn-plus-icon{
    background-color: rgb(0, 158, 127);
    color: rgb(255, 255, 255);
}

.single-product-btn .btn-text{
    box-sizing: border-box;
    min-width: 0px;
    margin: 0px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 15px;
}

.single-product-btn.btn .btn-plus-icon{
    padding-left: 16px;
    padding-right: 16px;
    height: 36px;
    background-color: rgb(230, 230, 230);
    display: flex;
    transition: all 0.35s ease-in-out 0s;
    -webkit-box-align: center;
    align-items: center;
    color: black;
}

.grocery .card:hover{
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px;
    transform: translateY(-5px);
}

.counter {
    display: flex;
    background-color: #009E7F;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 200px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 36px;
    border-radius: 6px;
}

.plus, .minus{
    border: none;
    background-color: transparent;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}



@media (max-width: 565px){
    /* .grocery .card .btn{
        height: 60px;
    }
    .grocery .card .btn .btn-plus-icon{
        height: 60px;
    }
    .counter{
        height: 60px;
    }
    .counter-number{
        font-size: 16;
    } */
}