.admin-products-header .form-control, .drawer .form-control{
    border-radius: 0px;
    background-color: rgb(238, 238, 238);
    transition: .15s ease-in-out;
    border: 3px solid rgb(238, 238, 238);
    background-clip: unset;
    color:rgb(22, 31, 106);
    font-weight: 700;
}

.admin-products-header .form-control:focus, .drawer .form-control:focus{
    background: white;
    border-color: #009e7f;
    box-shadow: none;
    color:rgb(22, 31, 106);
}

.admin-products-header .header-title{
    font-size: 17px;
    font-weight: 700;
    color: rgb(22, 31, 106);
}



.admin-products-header{
    background: white;
    padding: 40px 30px 25px 30px;
}

.header-content-row{
    padding: 0 20px;
}

select.form-control, select.form-control option, .drawer select.form-control, .drawer select.form-control option{
    color:rgb(22, 31, 106);
    font-weight: 700;
}

.admin-products .card-title{
    color:rgb(22, 31, 106);
}

.admin-products .card-text{
    color:#009e7f;
}

.col-lg-12.admin-products-body{
    padding: 0;
}

.admin-container .admin-products{
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.admin-container .admin-products::-webkit-scrollbar{
    width: 0;
}

.delete-btn{
    background-color: rgb(255, 110, 110) !important;
    color: white !important;
    font-weight: 700 !important;
}

.select-bar .btn{
    color: white !important;
}

.select-bar .select-btn{
    background-color: rgb(39, 199, 183) !important;
}

.select-bar .delete-select-btn{
    background-color: rgb(255, 110, 110) !important;
}

.select-bar .deselect-btn{
    background-color: rgb(255, 129, 29) !important;
}

@media (max-width: 991px){
    .admin-products-header .header-title{
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px){
    .admin-products-header{
        margin:15px;
    }
    .admin-products-header .header-content-row{
        padding: 0;
    }
    .admin-products-header .header-content-row .col-lg-10{
        padding: 0;
    }
}