.sidebar{
    position: fixed;
    overflow-y: scroll;
    width: 23%;
    display: flex;
    height: calc(100% - 110px);
    flex-wrap: wrap;
}

.product-item p.card-text {
    height: 35px;
}

@media (min-width:991px){
    .product-item img.card-img-top {
        height: 250px;
    }
}
