.checkout-wrapper{
    background: white;
}

.order-summary{
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.summary-item{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
}

.voucher-input{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-right: 5px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border: 1px solid rgb(237, 237, 237);
}

.voucher-input input{
    height: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: calc(14px);
    color: rgb(119, 121, 140);
    border: none;
    border-radius: 0px;
    padding: 0px 20px;
    background-color: transparent;
    margin-right: 0px;
    display: block;
    width: 100%;
    appearance: none;
    font-family: Lato, sans-serif;
    transition: all 0.25s ease 0s;
}

.voucher-input button{
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 158, 127);
    transition: all 0.3s ease 0s;
    border-radius: 6px;
    appearance: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    height: 38px;
    text-decoration: none;
    font-family: inherit;
    border: 0px;
    padding: 0px 30px;
}

.voucher-input button:hover{
    background: rgb(24, 116, 97) !important;
    color: white !important;
}

.section-header{
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgb(13, 17, 54);
    line-height: 1.2;
    margin-bottom: 25px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.delivery-schedule{
    margin-top: 60px;
}

@media (max-width: 630px){
    .checkout .voucher{
        flex-direction: column;
        align-items: flex-start;
    }
}


.checkout .radio-group label {
    width: 100%;
}

.checkout .radio-group .card-input-element {
    display: none;
}

.checkout .radio-group .card-input {
    padding: 1rem;
    border-radius: 8px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(247, 247, 247);
}

.checkout .radio-group .card-input:hover {
    cursor: pointer;
}

.checkout .radio-group .card-input-element:checked + .card-input {
     box-shadow: 0 0 1px 1px rgb(0, 158, 127);
     background: white;
 }
