header nav ul form input, header nav ul form{
    background: rgb(247, 247, 247);
}

header nav ul form input:focus-visible{
    outline: none;
}

header nav ul form input::placeholder{
    font-weight: 700;
}

header nav ul form input{
    width: 94%;
}



header{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

.mobile-view-selected-category{
    font-size: 15px;
    color: rgb(13, 17, 54);
    font-weight: 700;
    padding: 5px 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 6px;
}

.mobile-view-filter-text{
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 6px;
    appearance: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    text-decoration: none;
    font-family: inherit;
    border: 0px;
    color: rgb(0, 158, 127);
    background-color: transparent;
}

.filter-mobile-view{
    display: none;
}

.filter-drawer-item{
    background-color: rgb(247, 247, 247);
    text-align: center;
    padding: 1rem 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid rgb(247, 247, 247);
    min-height: 160px;
    transition: 0.10s ease-in-out 0.10s;
}

.MuiDrawer-paperAnchorBottom {
    max-height: 67vh !important;
    border-radius: 20px 20px 0 0;
}

.filter-drawer-close-btn{
    position: fixed;
    top: 23%;
    left: 46%;
    background: white;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .navbar-toggler{
    padding: 0;
    border: none;
}

.user-drawer-toggle{
    display: none;
}

.user-drawer{
    width: 316px;
}

.MuiDrawer-root.MuiDrawer-modal.user-drawer .MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 {
    width: 300px;
    padding-top: 60px;
}

.user-drawer-close-btn {
    position: absolute;
    top: 14px;
    left: 35px;
}

.user-drawer-join{
    background-color: rgb(247, 247, 247);
    padding: 45px;
}

.user-drawer-join .user-info-img img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.user-info-name{
    font-size: calc(14px);
    font-weight: 900;
    color: rgb(13, 17, 54);
    margin-bottom: 10px;
    line-height: 1.2;
}

.user-info-number{
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: rgb(13, 17, 54);
}

.user-drawer-item a, .user-drawer-item .user-logout{
    display: block;
    padding: 5px 45px;
    font-weight: 400;
    color: rgb(13, 17, 54);
    margin-bottom: 19px;
    position: relative;
    transition: all 0.15s ease-in-out 0s;
}

.user-drawer-item a.active:before{
    content: "";
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: rgb(0, 158, 127);
}

@media(max-width:991px){
    .user-drawer-toggle{
        display: block;
    }
    header .user-menu{
        display: none;
    }
    .navbar-nav .form-inline{
        flex-flow: unset;
    }
    ul.navbar-nav.col-lg-8 {
        padding-right: 0;
        padding-left: 0;
        margin: 10px 0;
    }
    .filter-mobile-view{
        display: block;
    }

    .user-profile-header .dropdown.user-icon.hover-pointer.ml-auto{
        display: none;
    }

    .user-dashboard-sidebar-container{
        display: none;
    }
}