body{
  background-color: rgb(247, 247, 247) !important;
}

.app{
}

.row{
  margin:0 !important;
}

.sidebar-container{
  max-height: 600px;
  overflow: scroll;
}

.sidebar-container::-webkit-scrollbar {
  width: 4px;
}