.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight.MuiPaper-elevation16 {
    background-color: rgb(247, 247, 247)
}

.drawer-footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 110px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.row.drawer-footer{
    margin: 0;
}

.drawer-footer .btn{
    padding: 15px 0; 
}

.drawer-footer .update-btn{
    background: rgb(0, 197, 141);
    color: white;
    font-weight: 700;
}

.drawer-footer .update-btn:hover{
    background-color: rgb(0, 189, 135);
}

.drawer-footer .cancel-btn:hover{
    background-color: rgb(246, 246, 246);
}

.drawer-footer .cancel-btn{
    color:rgb(252, 92, 99);
}

.drawer-header h3{
    color: rgb(22, 31, 106);
    font-size: 18px;
    left: 4%;
    top: 25px;
    position: absolute;
    font-weight: 700;
    font-family: Lato, sans-serif;
}

.drawer-header{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80px;
    right: 0px;
    overflow: hidden;
}

svg.drawer-close  {
    margin-left: 10px;
    margin-top: 10px;
    background: white;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}

.drawer-body{
    margin: 45px 4%;
    position: absolute;
    top: 40px;
    bottom: 80px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.drawer-body::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 6px;
}

.drawer-body::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 20px;
    width: 6px;
    height: 100%;
  }

.drawer-body-section-title{
    color: rgb(102, 109, 146);
    padding: 28px 0px 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    font-family: Lato, sans-serif;
}

.drawer-body-section-element{
    padding: 30px;
}

.drawer .dropzone{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed rgb(230, 230, 230);
    margin-right: 15px;
}

.drawer .dropzone-label{
    color: rgb(22, 31, 106);
    margin: 0;
}

.drawer .dropzone-label span{
    color: rgb(0, 197, 141);
}

.drawer .dropzone-container{
    padding: 40px;
}

.drawer .dropzone-img-container{
    border: 1px solid rgb(230,230,230);
    margin-top: 15px;
    display: flex;
    width: 90px;
    justify-content: center;
    padding: 4px;
    border-radius: 2px;
}

.drawer form label {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    font-family: Lato, sans-serif;
    color: rgb(22, 31, 106);
}

.drawer .product-info {
    padding: 30px 40px;
}

.drawer .product-info form{
    margin-right: 10px;
}

.drawer .dropzone-img-container img{
    height: 80px;
    width: 80px;
}

.category-multiSelect .search-wrapper {
    border-radius: 0px;
    background-color: rgb(238, 238, 238);
    transition: .15s ease-in-out;
    border: 1px solid rgb(238, 238, 238);
    background-clip: unset;
}


.category-multiSelect .optionListContainer{
    box-shadow: rgb(0 0 0 / 16%) 0px 4px 16px;
    border: 0;
    border-radius: 0px; 
}

.category-multiSelect .optionListContainer ul{
    border: none;
    border-radius: 0px;
}


.category-multiSelect .optionListContainer ul::-webkit-scrollbar{
    width: 0px;
}

.category-multiSelect .optionListContainer ul li:nth-child(1){
    background: unset;
    color: rgb(102, 109, 146);
}

.category-multiSelect .optionListContainer ul li{
    color: rgb(102, 109, 146); 
}

.category-multiSelect .optionListContainer ul li:hover{
    background: rgb(240, 240, 240);
}

.category-multiSelect .search-wrapper span{
    background: rgb(0, 197, 141);
    border-radius: 15px;
}

.category-multiSelect .search-wrapper:focus{
    border: 2px solid rgb(0, 197, 141);
}

.multiselect-container input#search_input::placeholder{
    color: rgb(102, 109, 146);
    font-weight: 700;
}

.multiselect-container .search-wrapper:focus-within{
    border: 2px solid rgb(0, 197, 141);
}

@media (min-width: 1400px){
    .MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 {
        width: 70%;
    }
    
}

@media (min-width: 1200px) and (max-width: 1399px){
    .MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 {
        width: 75%;
    }
}

@media (min-width: 993px) and (max-width: 1199px){
    .MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 {
        width: 80%;
    }
    
}

@media (min-width: 769px) and (max-width: 991px){
    .adrawer .MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight.MuiPaper-elevation16 {
        width: 100%;
    }
    svg.drawer-close{
        margin: unset;
        right: 10px;
        top: 10px;
    }
}

@media (max-width: 768px){
    .drawer .drawer-footer{
        padding:20px 10px;
    }
    .MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 {
        width: 100%;
    }
    svg.drawer-close{
        margin: unset;
        right: 10px;
        top: 10px;
    }
}