.carousel-control-prev, .carousel-control-next{
    width: 8% !important;
    opacity: 1 !important;
}

.carousel-control{
    padding: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: rgb(13, 17, 54);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px !important;
}

.carousel-item{
    transition: 1s !important;
}
