.ReactModal__Overlay.ReactModal__Overlay--after-open {
    z-index: 1;
}

.modal-close{
    position: fixed;
    top: 5px;
    right: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 8px;
    border-radius: 50%; */
}

.continue-btn{
    color: white !important;
    background-color: rgb(0, 158, 127);
}

.modal-container{
    padding: 40px 50px 10px 50px;
}

.cstm-input{
    display: block;
    width: 100%;
    padding: 0px 18px;
    appearance: none;
    font-family: Lato, sans-serif;
    font-size: 15px;
    line-height: inherit;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 6px;
    color: rgb(13, 17, 54);
    transition: all 0.25s ease 0s;
    height: 48px;
    background-color: rgb(247, 247, 247);
    margin-bottom: 10px;
}

.cstm-input:focus {
    border-color: rgb(0, 158, 127);
}

.cstm-input:hover, .cstm-input:focus {
    outline: 0px;
}

.form-btn{
    padding: 0px 30px !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    cursor: pointer !important;
    transition: all 0.3s ease 0s !important;
    border-radius: 6px !important;
    appearance: none !important;
    display: flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    flex-shrink: 0 !important;
    text-align: center !important;
    text-decoration: none !important;
    font-family: inherit !important;
    border: 0px !important;
    color: rgb(255, 255, 255) !important;
    height: 48px !important;
}

.modal-text{
    padding: 20px 0px;
}

.form-text{
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(119, 121, 140);
    margin: 0px;
}

.forgot-password{
    padding: 20px;
    background-color: rgb(247, 247, 247);
}

.underline{
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

@media (min-width: 1400px){
    .ReactModal__Content{
        width: 30%;
    }
}

@media (min-width: 1200px) and (max-width: 1399px){
    .ReactModal__Content{
        width: 33%;
    }
}

@media (min-width: 993px) and (max-width: 1199px){
    .ReactModal__Content{
        width: 40%;
    }
}

@media (min-width: 769px) and (max-width: 991px){
    .ReactModal__Content{
        width: 50%;
    }
}

@media (max-width: 768px){
    .ReactModal__Content{
        width: 90%;
    }
}